html.w-mod-js.w-mod-no-touch.w-mod-video.w-mod-no-ios.wf-proximanova-i1-active.wf-proximanova-i3-active.wf-proximanova-i4-active.wf-proximanova-i6-active.wf-proximanova-i7-active.wf-proximanova-i8-active.wf-proximanova-i9-active.wf-proximanova-n1-active.wf-proximanova-n3-active.wf-proximanova-n4-active.wf-proximanova-n6-active.wf-proximanova-n7-active.wf-proximanova-n8-active.wf-proximanova-n9-active.wf-active(data-wf-site='54b440b85608e3f4389db387', data-wf-page='55ad947ebe4b67666850994a')
  head
    meta(charset='utf-8')
    title TDC
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='generator', content='Webflow')
    link(rel='stylesheet', type='text/css', href='https://daks2k3a4ib2z.cloudfront.net/54b440b85608e3f4389db387/css/catarse.webflow.53a5c7b88.css')
    script(type='text/javascript', src='https://use.typekit.net/rgr4uku.js')
    style(type='text/css').
    style(type='text/css').
      .tk-proxima-nova{font-family:"proxima-nova",sans-serif;}
    link(rel='stylesheet', href='https://use.typekit.net/c/876100/1w;proxima-nova,2,cdc:T:i1,fsR:T:i3,cdh:T:i4,cdf:T:i6,cdX:T:i7,cdZ:T:i8,cdV:T:i9,cdb:T:n1,cdj:T:n3,cdg:T:n4,cdd:T:n6,cdW:T:n7,cdY:T:n8,cdT:T:n9/l?3bb2a6e53c9684ffdc9a98f21d5b2a629244cd3c2682b054cc1753c872a74d773333197a2227d39c2437808380afd4a25c6f28f011ce452f9abe25d6cd3d26d74c2c14d9e148ceb68b5efaf6770afcd16c313db87dc1b515a312b6fd302a8d19533a109a1e8cde9925f7db70674248dbd627e7da9255a4b263e03396a8c39e25321ba89a9610b06d95b817b425ff9631735444abcbf6ccf78f7912cd7b87721f71bf49543f44c88b59a914674149239f5ec1b04a0dd19576a57d36648a55328b008896fc4093c7771ac0cec13c5f39adc105da4c6a41dfa0da52fc9d28be0ff5593e7612d22f431650a7c8b457ed336fc2da87ffe74b4b', media='all')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
    script(type='text/javascript', src='https://daks2k3a4ib2z.cloudfront.net/0globals/modernizr-2.7.1.js')
    link(rel='shortcut icon', type='image/x-icon', href='https://daks2k3a4ib2z.cloudfront.net/placeholder/favicon.ico')
    link(rel='apple-touch-icon', href='https://daks2k3a4ib2z.cloudfront.net/img/webclip.png')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    script#__BH_content(type='text/javascript', src='//www.bugherd.com/sidebarv2.js?apikey=siraxifcb6wsmm9x005jhw&source=extension&type=sidebar')
    link#_BH_CSS(type='text/css', rel='stylesheet', href='https://34a7a1f9164c48c1b61f-84378afe43d6d6b04d77869b7b49ff0e.ssl.cf2.rackcdn.com/assets/gui-3da3101bba6472c4d5adf4472bdc3857.css')
  body
    #howitworks.w-section.bg-stats.section.min-height-100
      .w-container.u-text-center
        img.u-marginbottom-60(src='https://daks2k3a4ib2z.cloudfront.net/54b440b85608e3f4389db387/55ada5dd11b36a52616d97df_symbol-catarse.png')
        .fontcolor-negative.u-marginbottom-40
          .fontsize-megajumbo.fontweight-semibold R$ 31.123.222,00
          .fontsize-large Doados para projetos publicados por aqui
        .fontcolor-negative.u-marginbottom-60
          .fontsize-megajumbo.fontweight-semibold 200.122
          .fontsize-large Pessoas j&aacute; apoiaram pelo menos 1 projeto no&nbsp;Catarse
      .w-container
        div
          .card.u-radius.u-marginbottom-60.medium
            .w-row
              .w-col.w-col-4
                .w-row
                  .w-col.w-col-4.w-col-small-4
                    img.thumb.u-round(src='https://daks2k3a4ib2z.cloudfront.net/54b440b85608e3f4389db387/5409e86a50c3bd3f1b90aec7_user-avatar.jpeg')
                  .w-col.w-col-8.w-col-small-8
                    .fontsize-large.lineheight-tight Ricardo Matos dos Santos
              .w-col.w-col-4.u-text-center.fontsize-base.u-margintop-20
                div acabou de apoiar o
              .w-col.w-col-4
                .w-row
                  .w-col.w-col-4.w-col-small-4
                    img.thumb-project.u-radius(src='https://daks2k3a4ib2z.cloudfront.net/54b440b85608e3f4389db387/5485dfa838fa8324238733f7_project_thumb_10304019_328175090684874_7563008857993874086_n.png', width='75')
                  .w-col.w-col-8.w-col-small-8
                    .fontsize-large.lineheight-tight Ping point no Lardo do Batata
      .u-text-center.fontsize-large.u-marginbottom-10.fontcolor-negative
        span.fa.fa-github .
        |  Open Source com orgulho!
      .u-text-center.fontsize-small
        span.fa.fa-refresh .
        | &nbsp;11.233 Commits&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        span.fa.fa-users .
        | &nbsp;43 Contribuidores&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        span.fa.fa-star .
        | &nbsp;847 Stars
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript', src='https://daks2k3a4ib2z.cloudfront.net/54b440b85608e3f4389db387/js/webflow.2fdeca34f.js')
    
