html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='generator', content='Webflow')

    title Catarse

    link(rel='stylesheet', href='https://catarse.me/assets/catarse_bootstrap/fonts.css', media='all')
    //link(rel='stylesheet', href='https://catarse.me/assets/catarse_bootstrap/catarse.css', media='all')
    link(rel='stylesheet', href='http://local.catarse.me:3000/assets/catarse_bootstrap/catarse.css', media='all')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', media='all')
    link(href="https://www.catarse.me/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon")
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/underscore/underscore.js')
    script(type='text/javascript', src='/mithril/mithril.js')
    script(type='text/javascript', src='/mithril.postgrest/dist/mithril.postgrest.js')
    script(type='text/javascript', src='/api_init.js')
    script(type='text/javascript', src='/catarse.js/dist/catarse.js')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  body#statistics.bg-stats
  script(type='text/javascript', src='/index.js')

